:root {
  --accentColor: rgb(0, 89, 255);
  --fontColor: #000000;
  --position: 170px;
}
li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  font-style: italic;
  color: var(--fontColor);
}
a {
  color: var(--fontColor);
  text-align: justify;
  /* padding: 20px; */
  /* flex-wrap: wrap;
  flex-direction: column; */
}
a:hover {
  color: blue;
}
button {
  border: 3px solid rgb(0, 4, 230);
  /* padding: 10px; */
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  /* flex-wrap: wrap;
  flex-direction: column; */
  background-color: var(--accentColor);
}
#sideBar {
  background-color: #5d606e;
  /* flex-direction: row; */
  /* flex-wrap: wrap-reverse; */
  max-width: var(--position);

  /* min-height: window.innerHeight; */
}

#section {
  position: absolute;

  top: 80px;
  left: var(--position);
  /* width: 200px; */
  /* height: 100px; */

  /* background-color: var(--accentColor); */
}

.list {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  color: whitesmoke;
}

#dataContainer {
  padding-left: 20px;
  width: 80%;
}
