/* #App {
  display: flex;
} */
:root {
  --orange: orange;
  --white: #ffffff;
  --position: 170px;
}
li {
  list-style-type: none;
  /* font-weight: bold; */
  font-style: italic;
  color: var(--white);
}
button {
  border-radius: 25px;
  /* flex: "none"; */
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--orange);
}
#sideBar {
  background-color: #5d606e;
  /* flex-direction: row; */
  /* flex-wrap: wrap-reverse; */
  max-width: var(--position);

  /* min-height: window.innerHeight; */
}
body {
  /* background-color: #003049; */
}

#section {
  position: absolute;
  top: 56px;
  left: var(--position);
  width: 200px;
  height: 100px;
  color: var(--white);
  background-color: var(--orange);
}
