:root {
  --accentColor: rgb(0, 89, 255);
  --fontColor: #000000;
  --position: 170px;
}
li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  font-style: italic;
  color: var(--fontColor);
}
a {
  color: var(--fontColor);
  text-align: justify;
}
a:hover {
  color: blue;
}
button {
  border: 3px solid rgb(0, 4, 230);
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  background-color: var(--accentColor);
}
button:hover {
  background-color: rgb(0, 62, 179);
}
#sideBar {
  background-color: #5d606e;
  max-width: var(--position);
}

#section {
  position: absolute;
  top: 80px;
  left: var(--position);
}

.list {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  color: whitesmoke;
  font-family: Verdana, Monospace;
}

#dataContainer {
  padding-left: 20px;
  width: 80%;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #5d606e;
}

.modalContent {
  padding: 30px;
}
